<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Dj-Stripe Example Project">
        <meta name="author" content="Abe Hanoka">
        <meta name="keywords"
              content="Dj-Stripe, Stripe, Django, Payment Integration">
        <title>Dj-Stripe Example Project</title>
        <script src="https://js.stripe.com/v3/"></script>
        <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>
